@font-face {
    font-family: 'Super Lobster';
    src: url('/font/SuperLobster.woff2') format('woff2'),
        url('/font/SuperLobster.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

